@import "tailwindcss";

body {
  font-family: monospace;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease forwards;
}

.animate-fadeInUp {
  animation: fadeInUp 1.2s ease forwards;
}

.brand {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-style: italic;
}

